In [1]:
from __future__ import division
import _config
import sys, os, fnmatch, datetime, subprocess, imp
import numpy as np
from collections import defaultdict
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

inp_dir = _config.OUT_PLACE

### DESCRIPTION: UMI count in genomic dataset - initial plasmid integration should not have UMI duplications
### or miss-pairings between gRNA, UMI, target 

### b7 outputs does not check matches between gRNA and anything except for the read - need to make sure UMIs and SAs are also matched correctly
### preliminary: make sure that UMIs are unique to one ID# 
###

In [2]:
import re

In [3]:
match_dct = {
    'A':'T',
    'C':'G',
    'T':'A',
    'G':'C',
}

In [4]:
b3_dir = os.path.join(inp_dir, 'b3_align_unspliced_reads_510/')
b6_dir = os.path.join(inp_dir, 'b6_spliced_data_processing_510/')
b7_dir = os.path.join(inp_dir, 'b7_genomic_data_processing_510/')

In [5]:
# just check the 0 directory for now
unspliced_p2l_1 = os.path.join(b3_dir, '190124Gif_D19-555/0/')
gdna_p2l_1 = os.path.join(b7_dir, '190510Gif_D19-212027/0/')
spliced_p2l_1 = os.path.join(b6_dir, '190124Gif_D19-558/0/')

In [6]:
def reverse_complement(s):
    # probably need reverse-reverse complemeent so we can start matching from the back rather than the front?
    # dunno this is purely a reverse complement 
    if len(s) == 0:
        return ''
    return match_dct[s[-1:]] + reverse_complement(s[:-1])

In [6]:
def umi_count(directory):
    #reads included?
    #how does drop duplicates check duplicated strings - substring or the entire string
    acc = 0
    for root, dirs, files in os.walk(directory):
        for file in files:
            if file != 'short.csv' and 'checkpoint' not in file:
                file_df = pd.read_csv(os.path.join(directory, file), sep = '\n')
                data = file_df.values 
                data = np.insert(data,0, '>1')
                data = np.reshape(data, (-1,3))
                data = pd.DataFrame(data, columns = ('extra','UMI', 'ID'))
                data = data.drop_duplicates(('extra','UMI', 'ID'))
                acc = acc + data.shape[0]
    return acc

In [13]:
umi_count(gdna_p2l_1)

238993

In [11]:
file_df = pd.read_csv(os.path.join(gdna_p2l_1_p2l_1, "AAAAAA.txt"))
file_df

                  >1
0    AAAAAATACATATTT
1               5618
2                 >1
3    AAAAAATGGCTCATA
4               8563
5                 >1
6    AAAAAAAAAATCTTC
7               1049
8                 >1
9    AAAAAATAGAGTAGA
10              1212
11                >1
12   AAAAAAAGCAATAAA
13              1044
14                >1
15   AAAAAAGACCAGAAT
16              3308
17                >1
18   AAAAAACTGATCATA
19              4978
20                >1
21   AAAAAAACAACTAGC
22               550
23                >1
24   AAAAAATATCATTAA
25              7464
26                >1
27   AAAAAATTGAGGGAC
28             10413
29                >1
..               ...
368               >1
369  AAAAAAAAGGCTATA
370             2577
371               >1
372  AAAAAACTATGAGTC
373             7711
374               >1
375  AAAAAAAGTTATCTC
376             7159
377               >1
378  AAAAAAAGGTTGAGC
379              915
380               >1
381  AAAAAAGAAAGGATC
382             3073
383               >1
384  AAAAAACGACCAGTA
385             7581
386               >1
387  AAAAAAATATACGTA
388            10132
389               >1
390  AAAAAAAGCCAGACA
391              869
392               >1
393  AAAAAAGAAGTGAGG
394             2511
395               >1
396  AAAAAAGTTCTTAGA
397             5268

[398 rows x 1 columns]

In [10]:
def duplprocess_genomic(directory):
    data_df = pd.DataFrame(columns = ('UMI','ID'))
    for root, dirs, files in os.walk(directory):
        for file in files:
            if file != 'short.csv' and 'checkpoint' not in file:
                file_df = pd.read_csv(os.path.join(directory, file), sep = '\n')
                data = file_df.values 
                data = np.insert(data,0, '>1')
                data = np.reshape(data, (-1,3))
                data = np.delete(data, np.s_[0:1], 1)
                data = pd.DataFrame(data, columns = ('UMI','ID'))
                duplicated = data[data.duplicated('UMI')]
                r = duplicated.groupby('UMI',as_index = False).apply(lambda x: x.drop_duplicates('ID'))
                for index, group in r.groupby('UMI',as_index=False):
                    if len(group) > 1:
                        data_df = data_df.append(group)
    return data_df

In [9]:
data = process_genomic(gdna_p2l_1)

#average redundacy for different lengths - similar number --> diversity (undersampling UMIs)

data.groupby(data.UMI.str.len()).apply(lambda x: x.ID.nunique())

UMI
15    2088
dtype: int64

In [8]:
duplprocess_genomic(gdna_p2l_1)

                      UMI     ID
(3, 16)   AAAATAGAAGACAAA   6040
(3, 64)   AAAATAGAAGACAAA   4065
(6, 22)   AAAATGTATAGAACT    284
(6, 29)   AAAATGTATAGAACT   1389
(2, 29)   AAAACAATAACGATG   2995
(2, 69)   AAAACAATAACGATG   3045
(10, 12)  AAAACTTCCAAATTT   5685
(10, 72)  AAAACTTCCAAATTT   8926
(10, 75)  AAAACTTCCAAATTT   3867
(11, 23)  AAAACTTGGTAACCG   7674
(11, 58)  AAAACTTGGTAACCG  10027
(2, 5)    AAATAAATAGGAGAG   4836
(2, 44)   AAATAAATAGGAGAG   6539
(2, 99)   AAATAAATAGGAGAG    871
(3, 10)   AAATAGAGCGTGGTC  10815
(3, 11)   AAATAGAGCGTGGTC   7401
(2, 50)   AAATACCAGACTAAT   3152
(2, 51)   AAATACCAGACTAAT   5776
(5, 23)   AAATTACAGTAGAAG   7657
(5, 74)   AAATTACAGTAGAAG   9539
(9, 15)   AAATTAGTGATGTAC   4688
(9, 54)   AAATTAGTGATGTAC   6854
(9, 100)  AAATTAGTGATGTAC   9702
(2, 1)    AAATTTCCACCATGA   6138
(2, 38)   AAATTTCCACCATGA   4112
(1, 11)   AAATGAAAGGAAAAA   5590
(1, 12)   AAATGAAAGGAAAAA   3114
(1, 32)   AAATGAAAGGAAAAA   5556
(1, 67)   AAATGAAAGGAAAAA     29
(1, 68)   AAATGAAAGGAAAAA   1801
...                   ...    ...
(2, 22)   CCCCCCCCCCCCCCC   3666
(2, 23)   CCCCCCCCCCCCCCC   5643
(2, 24)   CCCCCCCCCCCCCCC   1965
(2, 71)   CCCCCCCCCCCCCCC   1329
(2, 72)   CCCCCCCCCCCCCCC   7775
(2, 73)   CCCCCCCCCCCCCCC   6819
(2, 74)   CCCCCCCCCCCCCCC    988
(2, 75)   CCCCCCCCCCCCCCC   5503
(2, 76)   CCCCCCCCCCCCCCC   4453
(2, 77)   CCCCCCCCCCCCCCC   7063
(2, 78)   CCCCCCCCCCCCCCC   3266
(2, 79)   CCCCCCCCCCCCCCC   5768
(2, 80)   CCCCCCCCCCCCCCC   9021
(2, 82)   CCCCCCCCCCCCCCC   7634
(2, 110)  CCCCCCCCCCCCCCC   4353
(2, 111)  CCCCCCCCCCCCCCC   3050
(2, 112)  CCCCCCCCCCCCCCC   5579
(2, 113)  CCCCCCCCCCCCCCC   4093
(2, 114)  CCCCCCCCCCCCCCC   6036
(2, 115)  CCCCCCCCCCCCCCC   6740
(2, 116)  CCCCCCCCCCCCCCC   4203
(2, 117)  CCCCCCCCCCCCCCC  10556
(2, 156)  CCCCCCCCCCCCCCC   7815
(2, 157)  CCCCCCCCCCCCCCC   7060
(2, 158)  CCCCCCCCCCCCCCC   5601
(2, 160)  CCCCCCCCCCCCCCC   5174
(2, 161)  CCCCCCCCCCCCCCC   8972
(3, 46)   CCCCCCCCCCCCCGC    215
(3, 134)  CCCCCCCCCCCCCGC   4013
(3, 135)  CCCCCCCCCCCCCGC   3266

[3201 rows x 2 columns]

In [ ]:
def process(directory):
    data_df = pd.DataFrame(columns = ('UMI','ID'))
    for root, dirs, files in os.walk(directory):
        for file in files:
            if file != 'short.csv':
                file_df = pd.read_csv(os.path.join(directory, file), sep = '\n')
                data = file_df.values 
                data = np.insert(data,0, '<1')
                try:
                    data = np.reshape(data, (-1,8))
                    data = np.delete(data, np.s_[0:1], 1)
                    data = np.delete(data, np.s_[3:7], 1)
                    data = pd.DataFrame(data, columns = ('UMI','ID'))
                    data_df1 = data_df1.append(data)
                except:
                    print('why')
                    print(file)

In [57]:
data_df = pd.DataFrame(data = data, columns = ('UMI','ID','splice_type'))

In [58]:
data_df.UMI.value_counts()

AAAAAAGCATCATCTGGC    15
AAAAAAACTTGTTCAGGC     7
AAAAAAAGACTTAACGGC     4
AAAAAACAATCAGAGGCG     3
AAAAAAAACCCGACAGGC     3
AAAAAACAATATATAGGC     3
AAAAAATCCAGTGTTGGC     2
AAAAAAGGCTACTGGGGC     2
AAAAAACGTACGGCAGGC     2
AAAAAATTTTATATGGGC     2
AAAAAAGCATCATCTGG      2
AAAAAAACTCACGCGGG      2
AAAAAAACTCACGCGGGC     2
AAAAAATCTTTTGCTGGC     2
AAAAAACAATCAGAGGC      2
AAAAAAGAAAACCCGGGC     2
AAAAAAGAGTGATGGGGC     2
AAAAAACAGCTCTATGGC     2
AAAAAATTCTAATTTGGC     2
AAAAAATCATAAGTGGG      2
AAAAAATCATAAGTGGGC     2
AAAAAACATCACTGAGG      1
AAAAAACACAGGCAGGG      1
AAAAAATGGACTGAGGGC     1
AAAAAAGCGCCAATCGGC     1
AAAAAATGGGCGAATGGC     1
AAAAAAGTTGGCTAGGGC     1
AAAAAATTATACGGAGGC     1
AAAAAATCATATTGAGGC     1
AAAAAATGAACCCTCGGC     1
                      ..
AAAAAAGGACACATGGGC     1
AAAAAACGGCATGACGGC     1
AAAAAAACAAGGAATGGC     1
AAAAAAAGCAGACCCGGC     1
AAAAAAGGACACATGGG      1
AAAAAATTATCTTCTGGC     1
AAAAAAAGATTAGTGGGC     1
AAAAAAACTTGTTCAGG      1
AAAAAATCAAGGCATGGC     1
AAAAAATTCAGACTAGGC     1
AAAAAAAGTGAAAATGG      1
AAAAAACTAACATATGG      1
AAAAAAAGGGCACGGGGC     1
AAAAAATAGCCCTCGGGC     1
AAAAAATCGTTAATCGG      1
AAAAAATTCCTTTCCGG      1
AAAAAATGTCTCATAGGC     1
AAAAAATTCCTTTCCGGC     1
AAAAAATACGATCATGGC     1
AAAAAAATCCTGCTTGGC     1
AAAAAATCCCTGATTGGC     1
AAAAAACTATCCCAGGGC     1
AAAAAATCCTCAATCGGC     1
AAAAAACAAAGCTGAGGC     1
AAAAAACTACATATCGGC     1
AAAAAACAACGCCAAGGC     1
AAAAAAATGCCAAGCGG      1
AAAAAACATCCGGAAGGC     1
AAAAAATATCACGCAGGC     1
AAAAAAGTAAGACGTGGC     1
Name: UMI, Length: 90, dtype: int64

In [93]:
data_df1 = pd.DataFrame(columns = ('UMI','ID','splice_type'))
for root, dirs, files in os.walk(spliced_p2l_1):
    for file in files:
        if file != 'short.csv':
            file_df = pd.read_csv(os.path.join(spliced_p2l_1, file), sep = '\n')
            data = file_df.values 
            data = np.insert(data,0, '<1')
            try:
                data = np.reshape(data, (-1,8))
                data = np.delete(data, np.s_[0:1], 1)
                data = np.delete(data, np.s_[3:7], 1)
                data = pd.DataFrame(data, columns = ('UMI','ID','splice_type'))
                data_df1 = data_df1.append(data)
            except:
                print('why')
                print(file)

KeyboardInterrupt:

In [90]:
# for folder 0, less than 15 percent have more than 2 instances of the same UMI 
data_df.UMI = data_df[0]
data_df.ID = data_df[1]
counts = data_df.UMI.value_counts()
ones = list(filter(lambda x: x < 3, counts))
len(ones)
print(str(len(ones)/398111))

0.8459349276960446

In [106]:
data_df_copy.UMI = data_df_copy.UMI.apply(lambda x: x[0:15])

In [110]:
counts = data_df_copy.UMI.value_counts()
ones = list(filter(lambda x: x < 2, counts))
len(ones)
print(str(len(ones)/398111))

0.5095940579386151

In [100]:
cas9_df0 = pd.DataFrame(columns = ('UMI','ID'))
for root, dirs, files in os.walk(unspliced_p2l_1):
    for file in files:
        if file != 'short.csv':
            file_df = pd.read_csv(os.path.join(unspliced_p2l_1, file), sep = '\n')
            data = file_df.values 
            data = np.insert(data,0, '<1')
            data = np.reshape(data, (-1,7))
            data = np.delete(data, np.s_[0:1], 1)
            data = np.delete(data, np.s_[2:7], 1)
            data = pd.DataFrame(data, columns = ('UMI','ID'))
            cas9_df0 = cas9_df0.append(data)

In [103]:
counts = cas9_df0.UMI.value_counts()
ones = list(filter(lambda x: x < 2, counts))
len(ones)
print(str(len(ones)/732882))

0.4212410729148758